/*
 * Copyright (C) 2012-2017  Online-Go.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

analysis-prediction-chart-height=100px;

.AIAnalysisChart {
    height: analysis-prediction-chart-height;
    margin-bottom: 1rem;
    max-width: calc(100vw - 2em);
    user-select: none;

    svg {
        font-size: font-size-smaller;

    }

    .area {
        fill: rgba(255,100,100,0.5)
        clip-path: url("#clip")
        themed fill chart-area
        stroke: #3587BC
    }

    .axis path, .axis line {
        fill: none
        themed stroke shade3
        shape-rendering: crispEdges
    }

    .brush {
        .selection {
            themed stroke shade1
            themed fill shade1
            fill-opacity 0.200
            shape-rendering crispEdges
        }
    }

    .loading, .nodata {
        height: analysis-prediction-chart-height;
        display: flex;
        justify-content: center;
        align-items: center;
        themed color shade2
    }



    .chart {
        cursor: crosshair;

        text {
            fill: #7F8FAF
        }
        .line {
            fill: none
            stroke-width: 1.2px
            clip-path: url("#clip")
        }
        .fast-prediction.line {
            stroke-width: 2px
            themed stroke chart-line
        }
        .full-prediction.line {
            stroke-width: 2px
            stroke: #C442EB;
        }
        .overlay {
            opacity: 0
            pointer-events: all
        }
        .data-point-circle {
            fill: red
            stroke: red
        }
        .crosshairs {
            themed stroke shade3;
            stroke-width: 1px;
            shape-rendering: crispEdges;
        }
        .fast.crosshairs {
            themed stroke chart-line
        }
        .full.crosshairs {
            stroke: #C442EB !important;
        }
        .win-loss-bar {
            shape-rendering: crispEdges;
        }
    }

    .deviation-area {
        themed fill chart-area
    }

    .timeline .axis {
        path, line {
            display: none;
        }
    }

    .y.axis {
        .tick {
            text {
                text-anchor: start !important
                fill: #7F8FAF
            }
            line {
                display: none
            }
        }
        path {
            display: none
        }
    }


    .date-legend-background {
        themed fill shade2
    }
    .date-legend-text {
        themed fill colored-background-fg
    }

}

.AIAnalysis {
    .variations {
        display: block;
        height: 4rem;
        min-height: 4rem;
        max-height: 4rem;
        overflow-y: auto;
    }

    .variation {
        white-space: nowrap;
        overflow: hidden;

        &:hover {
            themed background-color shade5
        }

        .coordinate {
            margin-right: 0.5rem;
            margin-left: 0.5rem;
            display: inline-block;
            width: 2rem;
            text-align: right;
        }

    }

    .key-moves {
        text-align: center;
        font-size: font-size-mid;
        margin: 0.5rem;

        .btn {
            float: right;
        }
    }
    .full-analysis {
        margin-left: 1rem;
    }
    .key-move {
        margin-left: 0.5rem;
    }

    .increased-win-rate, .decreased-win-rate {
        margin-left: 0.1rem;
        display: inline-block;
        width: 2rem;
        text-align: right;
    }
    .increased-win-rate {
        color: green;
    }
    .decreased-win-rate {
        color: red;
    }
    .prediction {
        text-align: center;
    }
    .next-move-delta-container {
        text-align: center;
    }
    .next-move-coordinates {
        border: 1px solid #000;
        themed border-color shade3
        border-radius: 0.3rem;
        margin: 0.5rem;

        display: inline-block;
        width: 4rem;
        text-align: center;
        padding-right: 0.5rem;
    }
    .next-move-delta {
        display: inline-block;
        width: 5rem;
        text-align: left;
    }
}
