/*
 * Copyright (C)  Online-Go.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.GameLibraryModal.Modal {
  width: 100%;
  max-width 40rem;
  justify-content: center;
  align-items: center;
  display: flex;
  
  
  h1 {
    text-align: center;
  }

  // long specifier to make sure this specific column is not overriden
    #collection-list .collection-row .cell.rengo-list-buttons {
        text-align: center;
        width: 10rem;
        padding-right: 1rem;
        //vertical-align: baseline; // attempting to line up with rest of cell rows


  .cell {
            padding-left: 0.5em;
            display: table-cell;
            text-align: left;
            position: relative;
        }
}