.PlayControls {
    flex-grow: 0;
    flex-shrink: 0;
    display: block;
    user-select: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.5rem;
    max-width: 100vw;
    min-height: 5rem;

    /* height: 23rem; */
    /* min-height: 5rem; */
    > div {
        width: 100%;
    }

    .annulled-indicator {
        color: red;
        text-align: center;
        position: relative;
        cursor: help;

        .fa {
            color: var(--shade1);
            margin-left: 0.5rem;
        }

        .annulment-reason {
            display: none;
        }
    }

    .annulled-indicator:hover {
        .annulment-reason {
            display: inline-block;
            position: absolute;
            top: 1.1rem;
            left: 50%;
            transform: translateX(-50%);
            background-color: var(--shade4);
            border: 1px solid;
            border-color: var(--shade3);
            z-index: var(--z-popover);
            color: var(--fg);
            padding: 0.5rem;
            border-radius: 0.5rem;
            max-width: 90vw;
            text-align: justify;
        }
    }

    .game-action-buttons {
        position: relative;
        text-align: center;
    }

    .analyze-mode-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;

        button {
            background-color: var(--success);
            border-color: var(--success-dark);
        }

        button:hover {
            background-color: var(--success-light);
            border-color: var(--success-darker);
        }
    }

    .pause-controls {
        text-align: center;
    }

    .play-buttons {
        height: 2.6rem;
        min-height: 2.6rem;
        display: flex;
        width: 100%;
        justify-content: space-between;

        > span {
            flex-grow: 1;
            flex-basis: 33%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
        }

        > span:first-child {
            justify-content: flex-start;
        }

        > span:last-child {
            justify-content: flex-end;
        }

        .keyboard-coordinate-input {
            display: inline-flex;
            align-items: center;
            margin-right: 0.5rem;

            input {
                width: 4rem;
                padding: 0.3rem 0.5rem;
                border: 1px solid;
                border-color: var(--shade3);
                border-radius: 0.25rem;
                font-size: 0.9rem;
                text-align: center;
                text-transform: uppercase;
                background-color: var(--shade5);
                color: var(--fg);
                transition: border-color 0.2s ease, background-color 0.2s ease;

                &::placeholder {
                    text-transform: none;
                    color: var(--shade2);
                }

                &:focus {
                    outline: 2px solid;
                    outline-color: var(--primary);
                    outline-offset: 1px;
                }

                &:disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
        }

        .sr-only {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border-width: 0;
        }
    }

    .stone-removal-controls {
        text-align: center;

        .explanation {
            padding: 1rem;
            font-style: italic;
        }
    }

    .cancel-button {
        /*
        position: absolute;
        right: 0.5em;
        bottom: 0.5em;
        */
    }

    .undo-button {
        /* position: absolute; */
        /* left: 0.5em; */
    }

    .accept-undo-button {
        white-space: nowrap;
        /*
        position: absolute;
        left: 0.5em;
        bottom: 0.5em;
        */
    }

    .stalling-score-estimate {
        margin: 0.5rem;
        font-size: 1rem;
        font-style: italic;
        text-wrap: balance;
        text-wrap-mode: balance;
    }

    .needs-sealing {
        margin: 1rem;
        padding: 1rem;
        font-weight: bold;
        border-radius: 0.2rem;
        font-size: 1.1rem;
        background-color: var(--warning-bg);
        color: var(--warning-fg);

        .needs-sealing-coordinates {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem;
            font-weight: bold;
            background-color: var(--warning-bg);
            color: var(--warning-fg);

            .needs-sealing-box {
                flex-grow: 0;
                flex-shrink: 0;
                flex-basis: 1rem;
                display: inline-block;
                width: 1rem;
                height: 1rem;
                background-color: red;
                border: 0.2rem solid #E079CE;
                margin-right: 0.5rem;
            }

            div {
                flex: 1;
            }
        }
    }

    .autoscoring-in-progress {
        margin-top: 0.5rem;
        font-size: 1.2rem;
    }

    .score-square {
        display: inline-block;
        width: 0.7rem;
        height: 0.7rem;
        border: 0.3rem solid #f00;

        &.black {
            background-color: black;
            border-color: #555;
        }

        &.white {
            background-color: white;
            border-color: #AAA;
        }
    }

    .btn-group {
        vertical-align: middle;
        display: inline-flex;
    }

    .removal {
        color: red;
    }
}