.MessageTemplate {
    display: inline-flex;
    flex-direction: column;

    select {
        margin-left: 1rem;
    }

    textarea {
        min-height: 10rem;
    }

    .buttons {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .clear {
        margin-left: 1rem !important;
    }
}
