.ReportsCenterCMInfo {
    width: 100%;
    margin-left: 2rem;

    .aggregate-vote-activity-graph {
        height: 400px;
        display: flex;
        flex-direction: column;

        .percent-graph, .totals-graph {
            height: 50%;
        }
    }

    .individual-overview {
        .aggregate-vote-activity-graph {
            height: 200px;
            width: 100%;

            .totals-graph, .percent-graph {
                height: 100px;
                width: 100%;

                // Force Nivo's wrapper div to have dimensions
                > div {
                    height: 100% !important;
                    width: 100% !important;
                }
            }
        }

        th {
            text-align: center;
        }

        .cm-name a {
            max-width: 10rem;
            overflow: hidden;
        }

        .votes {
            width: 80%;
            height: 200px;
        }
    }

    // We use `disable` for tabs they don't have permission for:
    // we want them to disappear.
    .react-tabs__tab--disabled {
        display: none;
    }

    .vote-activity-graph {
        height: 200px;
    }
}
