#SelectedReport {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    clear: both;

    textarea {
    }

    h3.users {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        .reporting-user, .reported-user {
            white-space: nowrap;
        }

        .reporting-user {
            float: right;
            font-size: 0.8rem;
            font-weight: 400;
        }
    }

    .header {
        .report-id {
            margin-right: 1rem;
        }
        button {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }

    .source-to-target-languages {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        themed border-color shade3
        text-align: center;
    }

    .translated {
    }
}
