[submodule "submodules/goban"]
	path = submodules/goban
	url = https://github.com/online-go/goban.git
	update = merge
[submodule "submodules/react-dynamic-help"]
	path = submodules/react-dynamic-help
	url = https://github.com/GreenAsJade/react-dynamic-help.git
	update = merge
