

vertical-slider-width = 6rem

.VerticalSlider {
    user-select: none;

    .rangeslider {
        margin: 20px auto;
        position: relative;
        touch-action: none;
        display: block;
        height: 150px;
        max-width: vertical-slider-width;
        background-color: transparent;
        border-left: 1px solid #888;
        themed border-color shade4;


        .rangeslider__fill, .rangeslider__handle {
            position: absolute;
        }

        .rangeslider__fill {
            display: block;
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
            width: 1px;
            background-color: #7cb342;
            box-shadow: none;
            bottom: 0;
        }
        .rangeslider__handle {
            border-left: 5px solid #ccc;
            themed border-color primary;
            cursor: pointer;
            display: inline-block;
            position: absolute;
            width: vertical-slider-width;
            height: 3rem;
            left: -2px;
            box-shadow: none;
            user-select: none;
            cursor: ns-resize;
            padding-left: 0.5rem;
  
            .rangeslider__active {
                opacity: 1;
            }

            .rangeslider__handle-label {
            }
        }


        /**
        * Rangeslider - Reverse
        */
        &.rangeslider-reverse.rangeslider-horizontal .rangeslider__fill {
            right: 0;
        }
        &.rangeslider-reverse.rangeslider-vertical .rangeslider__fill {
            top: 0;
            bottom: inherit;
        }

        /**
        * Rangeslider - Labels
        */
        .rangeslider__labels {
            display: none;
            //position: relative;
        }

        &.rangeslider-vertical .rangeslider__labels {
            position: relative;
            list-style-type: none;
            margin: 0 0 0 24px;
            padding: 0;
            text-align: left;
            width: 250px;
            height: 100%;
            left: 10px;
        }
        &.rangeslider-vertical .rangeslider__labels .rangeslider__label-item {
            position: absolute;
            transform: translate3d(0, -50%, 0);
        }
        &.rangeslider-vertical .rangeslider__labels .rangeslider__label-item::before {
            content: '';
            width: vertical-slider-width;
            height: 2px;
            background: black;
            position: absolute;
            left: -14px;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
        }
        &.rangeslider__labels .rangeslider__label-item {
            position: absolute;
            font-size: 14px;
            cursor: pointer;
            display: inline-block;
            top: 10px;
            transform: translate3d(-50%, 0, 0);
        }
    }
}
