ladders-page-chromium-darwin.png filter=lfs diff=lfs merge=lfs -text
profile-page-chromium-darwin.png filter=lfs diff=lfs merge=lfs -text
tournaments-page-chromium-darwin.png filter=lfs diff=lfs merge=lfs -text
groups-page-chromium-darwin.png filter=lfs diff=lfs merge=lfs -text
initial-page-chromium-darwin.png filter=lfs diff=lfs merge=lfs -text
