.ChatUsersList {
    display: flex;
    flex-basis: 12rem;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    min-height: 0;
    user-select: none;

    .user-list-entries {
        flex: 1 1 auto;
        min-height: 0;
        overflow-y: auto;
    }

    .user-header {
        margin-top: 0.5rem;
        text-transform: uppercase;
        font-weight: bold;
        font-size: var(--font-size-smaller);
        margin-bottom: 0.2rem;
        cursor: pointer;

        .fa-sort-numeric-asc,
        .fa-sort-alpha-asc {
            margin-left: 0.2rem;
            width: 0.8rem;
        }
    }

    .Player {
        color: var(--fg);
        font-weight: bold;
    }
}
