/*
 * Copyright (C) 2012-2020  Online-Go.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


.Settings {
    // here
    user-select: none;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;

    .Card {
        margin-bottom: 1rem;
    }

    .fa-smile-o {
        font-size: 0.8em;
    }

    .vacation-status {
    }

    .vacation-container {
        div {
            margin-bottom: 1rem;
        }
    }

    h3 {
        margin-top: 0;
    }

    .volume-icon {
        cursor: pointer;
        width: 1.0rem;
        font-size: 1.4rem;
        margin-right: 0.5rem;
    }



    .notification-option {
        padding: 0.5rem;
        padding-left: 1rem;
    }

    dt {
        margin-top: 2.0rem;
        font-weight: bold;
    }
    dd {
        margin-bottom: 0rem;
    }

    .password-update {
        div {
            padding-bottom: 0.5rem;
        }
    }

    .awaiting-validation-text {
        themed background-color info;
        //themed color colored-background-fg;
        padding: 0.5rem;
        border-radius: 0.3rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}
