.TurnIndicator {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    cursor: pointer;

    .count {
        visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.3rem;
        height: 1.3rem;
        border-radius: 50%;
        text-align: center;
        border: 2px solid transparent;
        font-weight: 700;
    }

    .active.count {
        visibility: visible;
    }

    .inactive.count {
        visibility: visible;
    }
}

body.light .TurnIndicator {
    .count {
        background-color: #101010;
        color: #fff;
    }

    .inactive.count {
        background-color: #d2d2d2;
    }
}

body.dark .TurnIndicator {
    .count {
        background-color: #bbb;
        color: #252525;
    }

    .inactive.count {
        background-color: #535353;
    }
}

body.accessible .TurnIndicator {
    .count {
        background-color: #bbb;
        color: #252525;
    }

    .inactive.count {
        background-color: #535353;
    }
}

.TurnIndicatorV6 {
    display: inline-flex;
    flex-direction: column;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    align-items: center;
    font-size: 0.9rem;
    cursor: pointer;

    .ogs-goban {
        color: var(--fg);
    }

    &:hover {
        .ogs-goban {
            color: var(--fg); /* TODO: themed-lighten fg 30% */
        }
    }

    .count {
        font-size: var(--font-size-smaller);
    }
}
