/*
 * Copyright (C) 2012-2017  Online-Go.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


.Ladder-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    max-height: "calc(100vh - %s - 0.2rem)" % navbar-height;
    height: "calc(100vh - %s - 0.2rem)" % navbar-height;
}

.Ladder {
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;


    .Ladder-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 40rem;
        width: 100%;
        margin-bottom: 1rem;
        flex-wrap: wrap;

        h2 {
            margin: 0;
            display: inline-block;
        }
    }

    .AutoSizer-container {
        flex: 1;
        width: 100%;
        height: 100%;
        overflow-y: hidden;
        overflow-x: hidden;
    }


    .LadderRow-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .LadderRow {
        overflow: hidden;
        max-width: 40rem;
        width: 100vw;
        height: 120px;

        .ladder-player {
            display: flex;
            flex-direction: row;
            margin-bottom: 0.5rem;
            font-size: font-size-big;

            .not-challengable {
                font-size: font-size-normal;
                themed color shade2;
            }


            .rank {
                margin-left: 0.5rem;
            }

            .challenge {
                flex: 1;
                text-align: right;
                margin-right: 1.0rem;

            }
        }
        .challenges {
            max-width: 100vw;

            .outgoing, .incoming {
                display: flex;
                flex-direction: row;

                .arrow {
                    flex: 0;
                    display: inline-block;
                    text-align: center;
                    margin-left: 1.5rem;
                }

                .challenge-list {
                    display: inline-block;
                    flex: 1;
                    flex-wrap: wrap;
                    display: flex;

                    .challenge-rank {
                        @extend .monospace;
                        margin-right: 0.3rem;
                    }
                    .challenge-link {
                        margin-right: 1.0rem;
                    }
                }
            }
        }
    }
}

.LadderRow {
    .rank {
        @extend .monospace;
        display: inline-block;
        width: 5rem;
    }
    > .Player {
        display: inline-block;
        width: 10rem;
    }

    &.highlight {
        themed background-color search-highlight;
    }
}
