/*
 * Copyright (C) 2012-2017  Online-Go.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.JosekiStatsModal {
    width: 40rem;
    max-width: 100%;

    max-height: 100%;

    .daily-visit-results {
        overflow-y: scroll;
    }

    .daily-result {
        display: flex;
        flex-direction: row;
    }

    .header {
        margin-bottom: 5px;
    }

    .result-date {
        min-width: 7em;
        padding-left: 3px;
        padding-right: 2px;
    }

    .result-count {
        min-width: 7em;
    }
}
