section.right { /* NavBar changeable icons and user name */
  visibility: hidden !important;
}

.username, .Player, .PlayerIcon { /* hide the username, player icon, and player name */
  visibility: hidden !important;
}

.ObserveGames { 
  visibility: hidden !important;
}

.announcement {
  visibility: hidden !important;
}

/* Hide all the user generated content! 
 * We're left testing that the page skeleton renders. */

.Goban {
  visibility: hidden !important;
}
.explore-pane {
  visibility: hidden !important;
}

.continuations-pane {
  visibility: hidden !important;
}
