.KibitzRoomStream {
    border: 1px solid var(--shade4);
    border-radius: 0.5rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 14rem;

    .KibitzRoomStream-title {
        border-bottom: 1px solid var(--shade4);
        font-weight: bold;
        padding: 0.75rem 1rem;
    }

    .KibitzRoomStream-items {
        flex: 1;
        min-height: 0;
        padding: 1rem;
    }

    .stream-item,
    .stream-empty {
        color: var(--text-color-faded);
    }

    .chat-lines {
        border-bottom: 0;
        max-height: 24rem;
        min-height: 14rem;
        padding: 0;
    }

    .KibitzRoomStream-footer {
        border-top: 1px solid var(--shade4);
        padding: 0.75rem 1rem;

        .TabCompleteInput {
            width: 100%;
        }
    }
}
