.KibitzProposalQueue {
    background: var(--card-background-color);
    border-top: 1px solid transparent;
    border-top-color: var(--shade3);
    padding: 0.75rem 1rem;

    .queue-title {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .queue-items {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .queue-item {
        border-top: 1px solid transparent;
        border-top-color: var(--shade3);
        display: flex;
        justify-content: space-between;
        gap: 0.75rem;
        padding-top: 0.5rem;
    }

    .queue-item:first-child {
        border-top: 0;
        padding-top: 0;
    }

    .queue-status {
        color: var(--text-color-faded);
        text-transform: capitalize;
    }
}
