.KibitzNodeText {
    box-sizing: border-box;
    min-height: 4.2rem;
    resize: vertical;
    width: 100%;

    &.read-only {
        background-color: var(--input-bg);
        color: var(--input-fg);
        cursor: default;
        resize: none;
    }
}
