.KibitzVariationPanel {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .KibitzVariationPanel-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
    }

    .KibitzVariationPanel-title {
        font-weight: bold;
        font-size: 0.85rem;
    }

    .KibitzVariationPanel-moveTree {
        height: 10em;
        background-color: #888888;
        border-radius: 0.2em;
    }

    .KibitzVariationPanel-actions {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}
