#Rating-Calculator-Container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center; 
    align-items: center;
}

#Rating-Table-Div input {
    width:100%;
}

#Rating-Table-Div #handicap-picker {
    width:30%;
}

#player-auto-entries {
    display: flex;
}

#player-auto-entries input {
    width:30%;
}

#Rating-Table-Div td {
    text-align: center;
} 

#Rating-Table-Div th, #Rating-Table-Div td {
    padding: 10px;
}

.rating-rable-row-header {
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.rating-table-divider {
    border-right: 1px solid;
}

.rating-table-divider-horizontal {
    border-bottom: 1px solid;
}

.rating-table {
    border-collapse: collapse;    
}