#Rating-Calculator-Container {
    display: flex;
    border: 3px solid green;
    padding: 10px;
    justify-content: center; 
    align-items: center;
}

#Rating-Table-Div {
}

td {
    text-align: center;
} 

th, td {
    padding: 15px;
}