/*
 * Copyright (C) 2012-2017  Online-Go.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


.Joseki {
    /* Here follow settings copied from Game.styl, to match behaviour as closely as possible... */
    // (but with center->left for this page because we have only two columns)
    position: absolute;
    top: below-navbar;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    .left-col {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;

        .goban-container {
            flex-grow: 1;
            //flex-shrink: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .Goban {
                position: absolute;
                top: 0;
                left: 0;
            }
         }
    }

    .admin-mode {
        flex-basis: 15%;
    }

    .right-col {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 50%;
        //width: goban-view-bar-width;
        overflow-y: auto;
        overflow-x: hidden;
        min-height: auto;
        flex-direction: column;
        flex-basis: 50%;
        padding-left: 0.3rem;
        padding-right: dock-collapsed-width + 0.3rem;
        min-width: 340px;
    }

    /* Here follow overrides, changing shtuff from Games.style... */

    .left-col {
        padding-left: 1 em;
        padding-top: 1em;
    }

    .right-col {
        padding-left: 2em;
        padding-right: 0;
        height: 100%;
        display: flex;
        flex-direction: column;

        .top-bar {
            display: flex;
            justify-content: flex-start;
             align-items: center;

            .move-controls {
                i {
                    cursor: pointer;
                    padding-right: 1em;
                }
            }

            .mode-control {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                .btn {
                    min-width: 5em;
                }
               .selected {
                    themed background-color success
                    themed-darken border-color success border-darken-amount
                }
            }
        }

        .play-dashboard {
            flex-grow: 1;
            flex-shrink:0;
            flex-basis:auto;
            display: flex;
            flex-direction: column;
            padding-top: 3em;
        }

        .edit-container {
            flex-grow: 1;
            flex-shrink:0;
            flex-basis:auto;
            display: flex;
            flex-direction: column;
        }

        .position-details {
            flex-grow: 1;
            flex-shrink:0;
            flex-basis:auto;
            display: flex;

            .description-column {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                flex-basis: 50%;

                .position-description {
                    flex-grow: 1;   // put source at the bottom
                    flex-basis: 80%;
                }
                .position-tag span {
                    margin: auto;
                    padding: 2px
                    border-radius: 3px;
                    themed background-color shade4;
                }
                .position-joseki-source {
                    padding-bottom: 1.5em;
                    span {
                         padding-right: 0.5em;
                    }
                }
            }

            .open {
                themed background-color shade5;
            }

            .extra-info-column {
                margin-top: 3em;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                flex-basis: 50%;
                justify-content: space-between; // put chat input at the bottom
                overflow: auto;

                .discussion-header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding-right: 0.5em;
                    align-items: center;
                    themed background-color shade4;
                }

                .discussion-lines {
                    overflow-y: auto;
                }

                .comment-header, .audit-header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .comment-date, .audit-date {
                        font-size: smaller;
                        padding-right: 0.5em;
                    }
                }

                .comment-text {
                    padding-left: 0.5em;
                    overflow-wrap: break-word;
                }

                .comment-input {
                    resize: none;
                }

                .fa-comments-o, .fa-comment-o, .fa-history {
                    align-self: flex-end;
                    padding-right: 0.5em;
                }
            }
        }

        .hide {
            visibility: hidden;
        }

        .move-attributes {
            display: grid;
            grid-template-colums: 1fr 1fr;
            grid-template-rows: auto;
            grid-row-gap: 1em;

            margin-top: 1em
            margin-bottom: 1em;
            padding-right: 1em;

            .move-type-selection {
                span {
                    margin-right: 0.5em;
                }
                button {
                    margin-left 1em;
                }
            }
            .variation-order-select {
                grid-column: 2 / 2;
                justify-self: end;

                span {
                    margin-right: 0.5em;
                }
            }

            .joseki-source-edit {
                .joseki-source-edit-controls {
                    display: flex;
                    align-items: center;

                    .fa {
                        padding-left: 0.5em;
                    }
                }
            }

            .tag-edit {

                justify-self: end;

                .tag-edit-controls {
                    display: flex;
                    align-items: center;

                    .fa {
                        padding-left: 0.5em;
                    }
                }
            }
        }

        .description-edit {
            flex-grow: 2;

            .edit-label {
                font-style: italic;
                font-size: smaller;
            }

            textarea {
                width: 100%;
            }
            .position-edit-button {
                width: 100%
                display: flex;
                justify-content: flex-end;
            }
        }

        .status-info {
            display: flex;
            flex-direction: column;
            padding-bottom: 3em;

            .hide {
                display: none;
            }

            .moves-made {
                display: flex;
                justify-content: flex-start;
                padding-right: 1em;

                .moves-made-string {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    direction: rtl;  // ellipsis on left
                }
            }
        }
    }
}
