/*
 * Copyright (C) 2012-2017  Online-Go.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#Register {
    display: flex;
    flex-direction: column;
    //justify-content: space-around;
    justify-content: space-around;
    align-items: center;
    //min-height: 100vh;

    .Card {
        padding: 1rem;
        width: 15rem;
        max-width: 100%;

        h2 {
            margin-top: 0;
        }

        input {
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    .LineText {
        themed color shade1
        margin-bottom: 1rem;
    }

    .social-buttons {
        text-align: center;
        .mdi-icon {
            padding: 0.5rem;
            img {
                width: 40px;
                height: 40px;
            }
            &.email { filter: invert(52%) sepia(15%) saturate(7%) hue-rotate(35deg) brightness(87%) contrast(94%); }
            &.google { filter: invert(26%) sepia(27%) saturate(5667%) hue-rotate(343deg) brightness(108%) contrast(107%); }
            &.facebook { filter: invert(26%) sepia(84%) saturate(686%) hue-rotate(192deg) brightness(93%) contrast(85%); }
            &.twitter { filter: invert(77%) sepia(45%) saturate(4872%) hue-rotate(178deg) brightness(95%) contrast(90%); }
        }
    }

    .error-message {
        margin-top: -0.5rem;
        margin-bottom: 1.0rem;
        padding: 0.5rem;
    }
}
