/*
 * Copyright (C) 2012-2020  Online-Go.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.ChallengeModal {
    width: 50rem;
    max-width: 100%;

    .challenge-pane-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
    }
    .pane {
        min-width: 49%;
        box-sizing: border-box;

        .control-label {
            width: 10rem;
            word-wrap: break-word;
        }
        .controls, .checkbox {
            width: 10rem;
            align-items: flex-start;
        }
        input, select {
            width: 10rem;
        }
        input[type='checkbox'] {
            width: 1rem;
        }
    }

    label {
        user-select: none;
    }

    .rengo-options {
        themed border-color shade3
        border-top: 1px solid;

        .collapsible {
            background-color: #eee;
            color: #444;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 15px;
            }

            /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
            .active, .collapsible:hover {
            background-color: #ccc;
            }

            /* Style the collapsible content. Note: hidden by default */
            .content {
            padding: 0 18px;
            display: none;
            overflow: hidden;
            background-color: #f1f1f1;
        }

        .collapsible:after {
            content: '\02795'; /* Unicode character for "plus" sign (+) */
            font-size: 13px;
            color: white;
            float: right;
            margin-left: 5px;
        }

        .active:after {
            content: "\2796"; /* Unicode character for "minus" sign (-) */
        }
    }

    .left-pane {
        margin-right: 0.5rem;
    }
    .right-pane {
        border-left: 1px solid transparent;
        themed border-color shade3
    }

    @media only screen and (max-width: 768px) {
        .pane {
            width: 100%;
            .control-label {
                width: 50%;
            }
        }
        .left-pane {
            margin-right 0;
        }
        .right-pane {
            border-left: 0;
        }
    }

    .header-with-icon {
        display: inline-flex;
        align-items: middle;
    }
}
