/*
 * Copyright (C) 2012-2017  Online-Go.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


.GoDoJo {
    /* Settings copied from Game.styl, to match behaviour as closely as possible */
    position: absolute;
    top: below-navbar;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    .center-col {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100%;
        .goban-container {
        }
    }
    .goban-container {
        flex-grow: 1;
        //flex-shrink: 1;
        flex-basis: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .Goban {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .left-col, .right-col {
        display: flex;
        width: goban-view-bar-width
        overflow-y: auto;
        overflow-x: hidden;
        min-height: auto;
        flex-direction: column;
        //align-content: stretch;
        //align-items: stretch;
        //justify-content: space-between;
    }
    .left-col {
        flex-basis: 0;
        flex-shrink: 1;
        align-content: center;
        justify-content: center;
        padding-right: 0.3rem;
        min-width: 0px;
    }
    .right-col {
        flex-basis: 25%;
        padding-left: 0.3rem;
        padding-right: dock-collapsed-width + 0.3rem;
        min-width: 340px;
    }

    /* Overrides, changing shtuff from Games.style */

    .center-col {
        padding-left: 1 em;
        padding-top: 1em;
    }

    .right-col {
        .position-header {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}
