.BecomeASiteSupporterModal {
    width: 90rem;
    max-width: 100dvw;
    margin-top: 2rem;

    p {
        text-align: justify;
    }

    .header {
        padding-left: 1rem;
    }

    .body {
        padding: 1rem;
    }
}
