.BecomeASiteSupporterModal {
    width: 44rem;
    max-width: 100vw;
    margin-top: 2rem;

    p {
        text-align: justify;
    }

    .header {
        padding-left: 1rem;
    }
    .body {
    padding: 1rem;
    }

    b {
        themed-important color fg-increased-contrast
    }


    .table-container {
        text-align: center;

        table {
            margin: auto;
            th {
                max-width: 7rem;
            }
        }
    }

    .fineprint {
        margin-top: 3rem;
        font-size: font-size-small;
    }
}
