
.SiteSupporterText {
    .table-container {
        text-align: center;

        table {
            margin: auto;
            th {
                max-width: 9rem;
                padding-right: 0.7rem;
                padding-left: 0.7rem;
            }
        }
    }

    .fineprint {
        margin-top: 1rem;
        font-size: font-size-small;
    }
}
