/*
 * Copyright (C) 2012-2017  Online-Go.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


.Supporter {
    // here
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
    padding: 1rem;

    .main-paragraph {
        max-width: 1110px;
        text-align: justify;

        .p {
            margin-top: 1rem;
        }

        .perk {
            padding: 1rem 1rem 0 1rem;
            display: flex;
            align-items: top;
            .fa-circle {
                font-size: 0.5rem;
                padding: 0.4rem;
            }
        }
    }

    .support-thanks {
        margin-top: 1rem;
        text-align: center;
    }

    input[type="range"] {
        border: none;
    }

    .details {
        text-align: center;
    }

    .paypal-button {
        cursor: pointer;
    }

    .LineText {
        margin: 1rem;
    }

    h3 {
        font-size: font-size-big;
        margin-bottom: 0;
    }
    h5 {
        margin-top: 0;
        text-align: center;
    }

    .donation-summary {
        font-size: font-size-big;
        font-weight: bold;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .powered-by-stripe {
        display: inline-block;
        width: 119px;
        height: 26px;
        background-image: svg-load("../assets/powered_by_stripe.svg");
        background-repeat: no-repeat;
    }

    .currency-select {
        display: inline-block;
        font-size: 1.0rem;
        width: 6rem;
        margin-right: 0.5rem;
        text-align: left;
    }

    .currency-option {
        .iso {
            display: inline-block;
            width: 2.6rem;
        }

    }

    .supporter-amount {
        width: 9rem;
        text-align: center;
        font-weight: bold;
        font-size: font-size-big;
    }
    
    .interval-select {
        width: 8rem;
        text-align: left;
        margin-left: 0.5rem;
        font-weight: bold;
        font-size: font-size-big;
    }

    #Supporter-custom-amount {
        width: 6rem;
        text-align: center;
        font-weight: bold;
        font-size: font-size-big;
    }

    .card-types {
        flex: 1;
        display: inline-flex;
        width: 12rem;
        flex-direction: column;
        margin: 1rem;

        img {
            width: 64px;
            margin: 8px;
        }
    }

    .recurring-donation {
        text-align: center;
        padding: 1rem;
    }

    .payment-methods {
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
    }

    .other-payment-options {
        flex: 1;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}


#amex-express-checkout {
    display: none;
}
.Supporter {
    #amex-express-checkout {
        display: inline-block;
    }
}

.grayed-out-image {
    filter: grayscale(100%);
    cursor: not-allowed !important;
}
