/*
 * Copyright (C) 2012-2017  Online-Go.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

.profile-button-username-help {
    text-align: right ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    position: absolute;

    width: fit-content;

    .help-controls {
        display: flex;
        justify-content: space-between
        width: 100%

        .fa-window-close {
            margin-right: 0px !important;
        }
    }

    span {
        width: fit-content;
        white-space: nowrap;
    }

    // position the help popup below and slightly displaced
    // (this is the only position that doesn't appear to risk getting clipped)
    transform-origin: top left;
    transform: translate(5%, 90%);

    padding-left: 0.5rem;
    padding-right: 0.5rem;

    border-width: 2px;
    border-color: grey;
    border-style: solid;
    border-radius: 5px;

    themed background-color dynamic-help-background-color;
    // opacity: 70%; opacity doesn't look good here.

    overflow-y: auto;
    user-select: none;
    z-index: z.nav-menu.menu;

    box-shadow: 0px 2px 4px 4px rgba(148, 109, 109, 0.75);
}
