.gotv-notification-container
    position: absolute;
    top: calc(var(--navbar-height) + 15px);
    right: 20px;
    z-index: 1000;

    .gotv-notification
        themed background-color card-background-color
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        transform: translateX(300px);
        opacity: 0;
        display: flex;
        align-items: center;
        margin-bottom: 5px;

    .gotv-notification.show
        transform: translateX(0);
        opacity: 1;

    .profile-image
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;

    .notification-content
        flex: 1;
        margin-right: 10px;

    .notification-header
        font-weight: bold;

    .notification-body
        font-size: 0.85em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    .gotv-notification button
        margin-left: 10px;
