/*
 * Copyright (C) 2012-2017  Online-Go.com
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */


.AdUnit {
    // here
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0.5rem;

    .ogs-cdm-zone-01-container, 
    .ogs-cdm-zone-02-container,
    .ogs-cdm-zone-03-container,
    .ogs-cdm-zone-04-container,
    .ogs-cdm-zone-05-container,
    .ogs-cdm-zone-06-container,
    {
        flex-shrink: 0;
        text-align: center;
        //background-color: rgba(0,0,255,0.1);
    }

    .ogs-cdm-zone-01-container, 
    .ogs-cdm-zone-04-container,
    .ogs-cdm-zone-05-container, {
        //height: 90px;
        //max-width: 728px;
        min-height: 90px;
        min-width: 728px;
    }

    .ogs-cdm-zone-02-container,
    .ogs-cdm-zone-03-container,
    .ogs-cdm-zone-06-container, {
        min-height: 250px;
        min-width: 300px;
        //max-width: 300px;
    }



    .turn-off-ads-note {
        min-height: 1rem;
        padding-bottom: 0.5rem;

        & a, &a:hover {
            themed color primary
        }
    }
}

@media (max-width: 728px) {
    .AdUnit {
        padding-left: 0;
        padding-right: 0;
        .ogs-cdm-zone-01-container, 
        .ogs-cdm-zone-04-container,
        .ogs-cdm-zone-05-container, {
            min-height: 50px;
            min-width: 320px;
            //height: 90px;
            //max-width: 728px;
        }
    }
}
